@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

#home {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.4), rgba(0,0,0,0.75)), url(/hero.jpg);
}

#testimonials {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.75)), url(/image-3.jpg);
}